<footer class="container-fluid bg-light mt-3">
    <div class="row">
        <section class="col-3">
        <p>À propos</p>
        </section>
        <section class="col-3">
            <p>Contact</p>
        </section>
        <section class="col-3">
            <p>Plan du site</p>
        </section>
        <section class="col-3">
            <p>Besoin d'aide</p>
        </section>
    </div>
</footer>